/* footer */

.footer {
  clear:both;
  margin:100px 10px 40px 10px;
  padding-top: 7px;
  border-top:1px solid #ddd;
  text-align:center;
  font-size:0.7em;
  color:#666;
}

.footer .left {
  float:left;
  text-align:left;
}
.footer .right {
  float:right;
  text-align:right;
}
.footer a, 
.footer a:hover{
  color:navy;
}


