/* job_openings */
.ji {
  margin-top:20px; 
  margin-left:10px;
}

.ji .left {
  width:220px;
  padding-right:10px;
  height:240px;
  float:left;
}

.ji .main {
  float:left;
  margin-left:0px;
}

.ji .left .item {
  clear:both;
  margin-bottom:12px;
}

.ji .left .label {
  font-size:0.7em;
  font-weight:bold;
  color:#666;
}
.ji .left .edit { 
  display: inline;
  text-decoration: underline;
  color:navy;
  cursor: pointer;
  font-weight: normal;
}
.ji .left .selected_list { 
  font-size:0.8em;
}
.ji .left ul.dynatree-container {
  margin: 0;
}
.ji .left #job_categories_picker {
  display:none;
  width:310px;
  background-image:url(/images/transparent.png);
  padding:25px;
  font-size: 0.8em;
}
.ji .left #locations_picker {
  display:none;
  width:350px;
  background-image:url(/images/transparent.png);
  padding:25px;
  font-size: 0.8em;
}
.ji .left #locations_picker a, 
.ji .left #locations_picker a:hover 
{
}
.ji .left .locations_tree {
  height:270px;
  overflow-y:scroll;
  overflow-x:hidden;
}
.ji .left .dynatree-icon { 
  display:none;
}

.ji .dimmed {
  opacity: 0.3;
}

.ji .matches .result_title {
  font-size:0.8em;
  margin-bottom:20px;
}

.ji .main .items {
  border-top:1px solid #EBEBEB;
  border-right:1px solid #EBEBEB;
  border-left:1px solid #EBEBEB;
}

.ji .main .item {
  border-bottom:1px solid #EBEBEB;
  padding:9px 5px 9px 15px;
  color:black;
  width:450px;
}
.ji .main a:hover {
  text-decoration:none;
}
.ji .main .item:hover {
  background:rgba(221, 238, 246, 0.85);
}

.ji .item .employer {
  float:left;
  max-width:450px;
  overflow:hidden;
  white-space:nowrap;
  font-size:0.9em;
}

.ji .item .title {
  color: rgb(0,0,128);
  font-weight:bold;
  font-size:0.8em;
  clear:both;
  color: rgb(0,0,128);
  width:450px;
  white-space:nowrap;
  overflow:hidden;
}

.ji .item .cell {
  float:left;
  margin-right:10px;
}

.ji .item .location {
  color:rgb(0,84,0);
  font-size:0.9em;
}

.ji .item .info {
  font-size:0.85em;
}

.ji .item .published {
  color: #666;
  font-size:0.7em;
  padding-top:2px;
}


.ji .item_row {
  clear:both;
}

.ji .more_button input {
  width:100%;
  margin-top:15px;
  padding-top:7px;
  padding-bottom:7px;
  font-size:1em;
}



.job {
  margin:20px 0 0 70px;
}

.job legend {
  font-size:0.8em;
}

.job fieldset {
  margin-top:10px;
  font-size:0.8em;
}

.job .addthis_share {
  margin-top:10px;
}

.job .middle {
  clear:both;
}

.job .left {
  width:600px;
  float:left;
}

.job .right {
  float:left;
  margin-left: 15px;
  width: 200px;
}

.job .employer_name {
  font-size:1.4em;
  font-weight:bold;
}

.job .title { 
  font-size:1em;
  margin-top:10px;
}

.job .publish_at {
  font-size:0.7em;
  color: #999;
}

.job .apply {
  font-size:1.7em;
  padding:7px 12px;
}

.job .contacts {

}

.job .text {
  margin-top: 10px;
}

.job .employer .like {
}

.job .employer .employer_name {
  font-size:1em;
  font-weight:normal; 
}

.job .addthis_like_employer {
  margin-top:3px;
}

.job .header {
  font-size:0.8em;
  color: #666;
  float: left;
  clear: left;
  width:75px;
  padding-top:0.25em;

}

.job .job_information .value {
  float: left;
  margin-left: 10px;
  width:170px;
  padding-bottom:5px;
}

.job .requirements .value {
  float: left;
  margin-left: 10px;
  padding-bottom:5px;
}

.job .section_header {
  font-weight: bold;
  clear:both;
  font-size:0.8em;
  color:#555;
}

.job .separator {
  height: 10px;
}

.job .job_information_left {
  float:left;
  width:285px;
}

.job .job_information_right {
  float:right;
  width:285px;
}

.job .application_deadline {
  font-size: 0.8em;
}

.job .union_contacts_title {
  font-size:0.8em;
  font-weight: bold;
  color: #555;
}

