- if @job.application
  %button.apply
    = raw "#{t(".apply")} &#x25B6;"
  - if @job.application.deadline
    .application_deadline
      = t(".deadline") + ":"
      = l @job.application.deadline.to_date
