- if @job.application
  .apply
    = link_to "#{t(".apply")} &raquo;".html_safe, apply_job_opening_path
    - if @job.application.deadline
      .application_deadline
        = t(".deadline") + ":"
        = l @job.application.deadline.to_date
