 <!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style addthis_share">
<a class="addthis_button_facebook"></a>
<a class="addthis_button_twitter"></a>
<a class="addthis_button_linkedin"></a>
<% if false %>
  <a class="addthis_button_email"></a>
  <a class="addthis_button_print"></a>
  <a class="addthis_button_compact"></a>
<% end %>
  <a class="addthis_counter addthis_bubble_style"></a>
</div>
<!-- AddThis Button END -->
