.job
  - if @job.deleted_at
    = render partial: 'show_deleted'
  - else
    = render partial: 'show'
   
  - if Rails.env.development?
    .separator
    %hr
    .line
      = link_to "Source", @job.source_url
    .line
      = raw @job.attributes.reject { |k,v| k == "_id" }.to_yaml.gsub("\n", "<br/>").gsub(" ", "&nbsp;")

