<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : "Jobboteket: Lediga Jobb" %></title>
  <%= csrf_meta_tag %>
</head>
<body>

  <%= content_for?(:body) ? yield(:body) : yield %>

</body>
</html>
